*
!compiler/
!compiler/*
!compiler/picoblaze_compiler.cc
!compiler/picoblaze_compiler.h
!compiler/picoblaze_hash.h
!compiler/test.pcm
!build.bat
!.gitignore
!README.md
!compiler/picoblaze.exe
!vm/picoblaze_vm.exe
!vm/
!vm/*